__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

env/
venv/
ENV/
.venv/

*.tmp
*.bak
*.swp

.vscode/
.history/

*.coverage
coverage.xml
htmlcov/
pytest_cache/
.tox/
nosetests.xml

.DS_Store
Thumbs.db

.ipynb_checkpoints/

.mypy_cache/
.pytest_cache/
.pyre/

*.env
.env.*
